{% extends 'default/layoutback.html.twig' %}


{% block header %}{{ parent() }}
    {% block title %} <title>template</title>{% endblock %}{% endblock %}
{% block body %}
    {{ parent() }}


{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}