{% extends "BonPlanBundle:Default:Layout.html.twig" %}
{% block head %}
    <title>{% block title %}{{ parent() }}-Forum{% endblock %}</title>
    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/colors/default.css') }}" />
    {% endblock %}
{% endblock %}
