<body xmlns="http://www.w3.org/1999/html">
<center><h2> <strong>Mail</strong> </h2>
<hr>
<h3><p> reservation </p></h3></center>
{{ form_start (form) }}




<br>       <center> Email {{ form_widget (form.email) }} </center>
<center>{{ form_widget(form.valider ,{'label':'reserver'}) }}</center>


{{ form_end (form) }}

</body>