<form action="{{ path('order_checkout') }}" method="POST">
    <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_3KBEbVPaLqfFOLMXZx82a2ig"
            data-amount="950"
            data-name="Stripe Payment"
            data-description="Widget"
            data-locale="auto"
            data-currency="eur">
    </script>
</form>